body {
    text-align: center;
}

.line-two {
    margin-left: 2rem;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 8px solid black;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.btn:active {
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: aqua;
}